
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

nav ul li a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #2b5b8b;
    border-radius: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    background-color: white;
    text-align: center;
}


.hero {
    background-color: #e0e0e0;
    padding: 50px 20px;
}

.banner {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    background-color: #004990;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
}